* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cairo, sans-serif;
  text-decoration: none;
  outline: none;
}

body {
  background-color: #f3f2f2;
}
.text-center {
  text-align: center;
}
.container {
  padding: 20px 10%;
}
.font {
  font-family: cairo, sans-serif;
}

.title {
  color: #224f61;
  font-family: cairo;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 64px;
}

.underline {
  height: 3px;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  background: #b45b35;
}

.btn {
  color: #8c8c8c;
  background-color: #fff;
  width: 65px;
  padding: 5px;
  border: 1px solid #b45b35;
  font-family: cairo;
  border-radius: 3px;
  font-size: 18px;
  letter-spacing: 0;
  cursor: pointer;
  line-height: 24px;
  transition: 0.2s;
}

.btn:hover {
  font-weight: bold;
  color: white;
  background-color: #b45b35;
}

.img-item {
  height: 180px;
  width: 252px;
  border-radius: 5px;
}

.item-description {
  color: #8c8c8c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25px;
}

.item-title {
  color: #555555;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}
